# Version control
.git
.github

# CI/CD
Dockerfile
.dockerignore
Jenkinsfile

# R IDE & environment
*.Rproj
.Rproj.user
.Rhistory
*.Rhistory
.RData
*.RData
.Rprofile

# Documentation & metadata
README.md
NEWS.md
LICENSE.md
_pkgdown.yml
docs/

# Development only
lib/
tests/


